
// ====PADDING==================================================================

.padding-0{
  padding: 0px;
}

// ====MARGIN===================================================================

.margin-bot-15{
  margin-bottom: 15px;
}

// ====BACKGROUND===============================================================

.bg-grey{
  background: #f5f5f5;
}

// ====TEXT=====================================================================

.line-through{
  text-decoration: line-through;
}

// ====OTHERS=====================================================================

.full-width{
  width: 100%;
}